.cascader {
  .select-text {
    min-width: 120px;
    min-height: 30px;
    max-width: 150px;
    max-height: 50px;
    border: 1px solid black;
    cursor: pointer;
  }
  .caspanel {
    margin-top: 5px;
    min-width: 120px;
    min-height: 30px;
    max-width: 150px;
    max-height: 50px;
    border: 1px solid black;
    cursor: pointer;
    transition: all 2s;
  }
}
